<footer class="footer">
    <div class="container container--wide">
        <div class="footer__content">
            <p class="footer__logo">TRUE CHARGE</p>
            <nav class="footer__nav">
                <ul class="footer__nav-list">
                    <li>
                        <a href="#about" class="footer__nav-link">О нас</a>
                    </li>
                    <li>
                        <a href="#chargeback" class="footer__nav-link">Что такое Чарджбек?</a>
                    </li>
                    <li>
                        <a href="#team" class="footer__nav-link">Команда</a>
                    </li>
                    <li>
                        <a href="#conditions" class="footer__nav-link">Условия возврата</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>