<header class="header">
    <div class="header__logo-wrapper">
        <p class="header__logo">
            TRUE<br class="header__logo-newline">CHARGE
        </p>
        <button class="button burger-visible burger-visible--closed" onclick="openBurgerMenu()">
            Меню
        </button>
        <button class="button burger-visible burger-visible--open" onclick="closeBurgerMenu()">
            Закрыть
        </button>
    </div>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-link-wrapper">
                <a href="#about" class="header__nav-link" onclick="closeBurgerMenu()">О нас</a>
            </li>
            <li class="header__nav-link-wrapper">
                <a href="#chargeback" class="header__nav-link" onclick="closeBurgerMenu()">Что такое Чарджбек?</a>
            </li>
            <li class="header__nav-link-wrapper">
                <a href="#team" class="header__nav-link" onclick="closeBurgerMenu()">Команда</a>
            </li>
            <li class="header__nav-link-wrapper">
                <a href="#conditions" class="header__nav-link" onclick="closeBurgerMenu()">Условия возврата</a>
            </li>
        </ul>
    </nav>
    <div class="header__button-wrapper">
        <a href="#request" class="button button--bold" onclick="closeBurgerMenu()">Оставить заявку</a>
    </div>
</header>