<div class="slide-conditions" id="conditions">
    <div class="container">
        <h3>Условия работы</h3>
        <div class="slide-conditions__grid">
            <p class="slide-conditions__par">
                Работаем с потерями от 100 евро
            </p>
            <p class="slide-conditions__par">
                Срок совершения транзакции до 540 дней
            </p>
            <p class="slide-conditions__par">
                Работаем по соглашению и с подписанием договора
            </p>
            <p class="slide-conditions__par">
                Предоставить полную информацию с выписками и любыми доказательствами
                обмана брокера
            </p>
            <p class="slide-conditions__par">
                Процедура оспаривания платежей банком составляет от 20 до 90 дней
            </p>
        </div>
    </div>
  </div>
  