<div class="slide-steps">
    <div class="container slide-steps__container">
        <h3 class="slide-steps__title">Алгоритм возврата ваших денег:</h3>
        <div class="steps">
            <div class="steps__cell steps__cell--left">
                <div class="steps__title-wrapper steps__title-wrapper--left">
                    <h4 class="steps__title">
                        Заключаем договор
                    </h4>
                    <div class="steps__circle">
                        1
                    </div>
                </div>
                <p class="steps__par steps__par--left">
                    На подачу чарджбека есть 540 дней, не теряйте время — оставляйте заявку
                </p>
            </div>
            <div class="steps__cell steps__cell--right"></div>
            <div class="steps__cell steps__cell--left">
            </div>
            <div class="steps__cell steps__cell--right">
                <div class="steps__title-wrapper steps__title-wrapper--right">
                    <div class="steps__circle">
                        2
                    </div>
                    <h4 class="steps__title">
                        Собираем доказательную базу
                    </h4>
                </div>
                <p class="steps__par steps__par--right">
                    Мошенничество со стороны брокера последовательно иллюстрируется в заявлении
                </p>
            </div>
            <div class="steps__cell steps__cell--left">
                <div class="steps__title-wrapper steps__title-wrapper--left">
                    <h4 class="steps__title">
                        Пытаемся выйти на мировую с компаниями
                    </h4>
                    <div class="steps__circle">
                        3
                    </div>
                </div>
                <p class="steps__par steps__par--left">
                    Пишем письмо вашему брокеру о том, чтобы он вернул средства без разбирательства с банком
                </p>
            </div>
            <div class="steps__cell steps__cell--right"></div>
            <div class="steps__cell steps__cell--left"></div>
            <div class="steps__cell steps__cell--right">
                <div class="steps__title-wrapper steps__title-wrapper--right">
                    <div class="steps__circle">
                        4
                    </div>
                    <h4 class="steps__title">
                        Составляем заявление в ваш банк
                    </h4>
                </div>
                <p class="steps__par steps__par--right">
                    Профессиональный юрист занимается вашим заявлением. После чего отправляем его в банк и
                    контролируем процесс рассмотрения
                </p>
            </div>
            <div class="steps__cell steps__cell--left steps__cell--last">
                <div class="steps__title-wrapper steps__title-wrapper--left">
                    <h4 class="steps__title">
                        Ведем переговоры с банком до принятия решения
                    </h4>
                    <div class="steps__circle">
                        5
                    </div>
                </div>
                <p class="steps__par steps__par--left">
                    Мы не принимаем отказы банка-эмитента, знаем 32 способа оспорить решение банка, и в каждой
                    ситуации идем до результата
                </p>
            </div>
            <div class="steps__cell steps__cell--right steps__cell--last"></div>
        </div>
    </div>
</div>
