<div class="slide-chargeback">
    <div class="container">
        <div class="slide-chargeback__content" id="chargeback">
            <div>
                <h2 class="slide-chargeback__title">
                    Что такое Чарджбэк?
                </h2>
                <p class="slide-chargeback__par">
                    Чарджбек - это универсальная процедура отмены транзакции по карте Visa,
                    MasterCard, МИР платежными системами. Другими словами, это возврат
                    платежа на карту держателя. Чарджбэк можно получить практически от
                    любого учреждения или организации, если вы перевели деньги на банковский
                    счет юридического лица с карты.
                </p>
                <a href="#request" class="button button--wide button--bold">
                    Оставить заявку
                </a>
            </div>
            <div class="chargeback-image">
                <img src="../img/cc-blue.png" alt="Credit Card" class="chargeback-image__cc-blue">
                <img src="../img/curved-arrow-1.png" alt="Credit Card" class="chargeback-image__arrow">
                <img src="../img/moneydove.png" alt="Money" class="chargeback-image__moneydove-1">
                <img src="../img/moneydove.png" alt="Money" class="chargeback-image__moneydove-2">
                <img src="../img/moneydove.png" alt="Money" class="chargeback-image__moneydove-3">
                <img src="../img/moneydove.png" alt="Money" class="chargeback-image__moneydove-4">
            </div>
        </div>
    </div>
</div>