// Colors
:root {
  --color-white: #fff;
  
  --color-blue-1: #0A3880;
  --color-blue-2: #0D459E;

  --color-brown-1: #9E6A57;
  --color-brown-2: #7D5547;
  --color-brown-3: #614236;
  --color-brown-4: #FCF7E9;
  --color-brown-5: #F4EFE0;

  --color-gray-1: #7D7D7D;
  --color-gray-2: #2D2D2D;

  --color-red-1: #f57f6c;
}
