.slide-overlay {
    padding: 0 20px;
    position: relative;
    transform: translateY(-1px);

    &__background {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        flex-direction: column;
    }

    &__background-dark {
        flex-basis: 42%;
        background-color: var(--color-blue-1);
    }

    &__background-light {
        flex-basis: 58%;
        background-color: var(--color-brown-4);
    }

    &__container {
        padding: 30px 23px 50px;
        border-radius: 7px;
        position: relative;
        z-index: 2;
        color: var(--color-white);
        background-color: var(--color-blue-2);
    }

    &__title {
        margin-bottom: 38px;
        color: var(--color-white);
    }

    &__par {
        max-width: 850px;
        font-size: 18px;
        font-weight: 400;
    }

    &__statistics {
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        gap: 35px;
    }
    
    &__counter {
        margin-bottom: 15px;
        font-size: 36px;
        font-weight: 600;
    }

    &__meta {
        display: grid;
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }

    &__important-meta {
        font-size: 24px;
        font-weight: 600;
    }

    &__unimportant-meta {
        font-size: 18px;
        font-weight: 400;
        max-width: 390px;
    }
}

@include tablet {

    .slide-overlay {
        padding: 0 40px;
        
        &__container {
            padding: 78px 45px 90px;
        }

        &__title {
            margin-bottom: 22px;
        }

        &__statistics {
            margin-top: 76px;
            flex-direction: row;
            gap: 58px;
        }

        &__counter {
            margin-bottom: 23px;
            font-size: 48px;
        }

        &__meta {
            margin-top: 63px;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
            row-gap: unset;
        }

        &__small-column {
            max-width: 206px;
        }
    }
}

@include desktop {

    .slide-overlay {
        
        &__container {
            padding: 87px 99px 110px;
        }

        &__meta {
            column-gap: 100px;
        }

        &__small-column {
            max-width: unset;
        }
    }
}