<div class="slide-request" id="request">
    <div class="container">
        <div class="slide-request__content">
            <h3 class="slide-request__title">Оставьте заявку</h3>
            <p class="slide-request__par">
                Оставьте свои контакты - мы вам тут же перезвоним, расскажем все подробности и спланируем следующие шаги
            </p>
            <form action="" class="request-form">
                <div class="request-form__input-wrapper">
                    <input
                        id="request-name"
                        type="text"
                        class="request-form__input"
                        placeholder="Имя"
                    >
                </div>
                <div class="request-form__input-wrapper">
                    <input
                        id="request-phone"
                        type="text"
                        class="request-form__input"
                        placeholder="Телефон"
                    >
                </div>
                <div class="request-form__input-wrapper">
                    <input
                        id="request-email"
                        type="text"
                        class="request-form__input"
                        placeholder="Электронная почта"
                    >
                </div>
                <buton class="button button--bold button--wide button--form" onclick="sendRequest()">
                    <img src="../img/icon-check.svg" alt="Sent" class="button__icon">
                    <span class="button__unsent-text">Оставить заявку</span>
                    <span class="button__sent-text">Заявка отправлена</span>
                </buton>
            </form>
        </div>
    </div>
  </div>
  