<div class="slide-specialists" id="team">
    <div class="container">
        <h2>Наши специалисты</h2>
        <div class="specialists-list">
            <div class="specialists-list__item">
                <img src="../img/specialist-2.png" alt="Specialist" class="specialists-list__img">
                <h5 class="specialists-list__title">
                    Александра Александрова
                </h5>
                <p class="specialists-list__par">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="specialists-list__item">
                <img src="../img/specialist-1.png" alt="Specialist" class="specialists-list__img">
                <h5 class="specialists-list__title">
                    Александр Александров
                </h5>
                <p class="specialists-list__par">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="specialists-list__item">
                <img src="../img/specialist-2.png" alt="Specialist" class="specialists-list__img">
                <h5 class="specialists-list__title">
                    Александра Александрова
                </h5>
                <p class="specialists-list__par">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="specialists-list__item">
                <img src="../img/specialist-1.png" alt="Specialist" class="specialists-list__img">
                <h5 class="specialists-list__title">
                    Александр Александров
                </h5>
                <p class="specialists-list__par">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
  </div>
  