<div class="slide-issue" id="about">
    <div class="container">
        <div class="slide-issue__content">
            <div>
                <h3 class="slide-issue__title">Проблема</h3>
                <p class="slide-issue__par">
                    Тысячи трейдеров сталкиваются с одинаковой проблемой — брокеры мошенники.
                    <br>
                    <br>                  
                    Такие компании обнуляют счет клиента, сливают депозит, не выплачивают прибыль
                    или закрываются. Не лучшая ситуация и с управляющими деньгами, среди них тоже
                    встречаются обманщики. 
                </p>
            </div>
            <div>
                <h3 class="slide-issue__title">Что делать в таких ситуациях и есть ли выход?</h3>
                <p class="slide-issue__par slide-issue__par--short">
                    Если вас обманул брокер и вы потеряли денежные средства, наши профессиональные
                    юристы помогут сделать возврат ваших денежных средств.
                </p>
            </div>
        </div>
    </div>
  </div>
  