<div class="slide-overlay">
    <div class="slide-overlay__background">
        <div class="slide-overlay__background-dark"></div>
        <div class="slide-overlay__background-light"></div>
    </div>
    <div class="container slide-overlay__container">
        <h3 class="slide-overlay__title">
            Почему лучше не оттягивать момент<br>
            обращения за юридической помощью:
        </h3>
        <p class="slide-overlay__par">
            Самостоятельное составление заявления, а также незнание правил и регламента
            Платежной Системы может привести к проигрышу чарджбэка. После проигрыша
            Чарджбэка, ни один специалист не сможет Вам помочь.
        </p>
        <div class="slide-overlay__statistics">
            <div>
                <p class="slide-overlay__counter">5-10 лет</p>
                <p class="slide-overlay__par">
                    Опыт наших специалистов в банковской сфере и возврате средств от брокеров
                </p>
            </div>
            <div>
                <p class="slide-overlay__counter">1 900 000 €</p>
                <p class="slide-overlay__par">
                    Мы вернули более 1,9 млн. у.е. нашим клиентам за время существования компании.
                </p>
            </div>
            <div>
                <p class="slide-overlay__counter">500</p>
                <p class="slide-overlay__par">
                    Более 500 клиентов уже вернули свои средства благодаря нам
                </p>
            </div>
        </div>
        <div class="slide-overlay__meta">
            <p class="slide-overlay__important-meta">
                В 90% случаев мы добиваемся полного или частичного возврата средств.
            </p>
            <p class="slide-overlay__unimportant-meta">
                Мы работаем не только с брокерами, но и с онлайн-казино, ресурсами азартных игр
                и другими компаниями.
            </p>
        </div>
    </div>
</div>
  